

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}

li {
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 12px;
    float: left;
    text-decoration: none;
    z-index: 1;
}

li a {
    color: white;
    display: block;
    text-align: center;
    z-index: 1;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #e812ab;
    text-decoration: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.navbar {
  z-index: 1;
  padding: 8px 10px;
  background-color: black;
}

.navbar-brand:hover {
  color: #e812ab;
}

.navbar-brand:active {
  color: #e812ab;
}

.navbar-default {
  z-index: 1;
}

.header-container {
  height: 50px;
  width: 100%;
  border-left: none;
  border-right: none;
  padding-top: 0px;
  z-index: -1;
  position: relative;
}

@media(min-width:768px){
.welcome {
  font-weight: lighter;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 200px;
  padding-left: 55px;
  padding-right: 875px;
  font-size: 55px;
  font-family: 'Oxygen', sans-serif;
  z-index: 1;
  color: white;
  position: relative;
  }
}


.welcome-container {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.yellow {
  position: relative;
  font-weight: lighter;
  padding-right: 875px;
  padding-left: 75px;
}


.browse-container {
  position: absolute;
  margin-top: 120px;
  line-height: 0px;
  z-index: -1;
  background-color: #fcfcfc;
  height: 1000px;
  width: 100%;
}

.browse-text {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}


.nextbutton {
  margin-top: 1040px;
  margin-left: 650px;
  margin-right: 650px;
}

.btn.btn-secondary {
  padding: 14px 28px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.btn.btn-secondary:hover {
  padding: 14px 28px;
  background-color: black;
  color: #e812ab;
  border: 2px solid #e812ab;
}

.btn.btn-secondary:active {
  background-color: white;
  color: black;
}


@media only screen and (max-width: 940px),
only screen and (max-device-width: 940px){
  .thumbnail { width: 21%;}
}



.thumbnail {
  float: left;
  margin-left: 75px;
  margin-right: 15px;
  margin-bottom: 20px;
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.col-text {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;

}

.col-text:active {
  color: #e812ab;
}

.col-text:hover {
  color: white;
}

@media (max-width:700px) {

  }
}
