

.signin-text.btn.btn-secondary{
  font: black;
  text-transform: lowercase;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  border: white;
  position: static;
  right: 0;
}

.signin-text.btn.btn-secondary:hover {
  background-color: transparent;
  color: #687EAD;
  border: transparent;
}

.signin-text.btn.btn-secondary:active {
  background-color: transparent;
  color: #687EAD;
  border: transparent;
}

header {
    opacity: .9;
    text-align: center;
    color: black;
    background-attachment: scroll;
    background-image: url(../images/jake-davies-443335-unsplash.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-bottom: 40px;
    color: black;
    z-index: 2;
}



header .intro-lead-in  {
  margin-left: -450px;
    margin-bottom: relative;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
}

  header .intro-heading {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 75px;
        font-family: 'Montserrat', sans-serif;
        font-size: 95px;
        font-weight: bold;
        line-height: 40px;
        position: relative;
        bottom: 120px;
        font-weight: bold;
        color: black;
    }

    header .intro-text .intro-heading {
        color: black;
        margin-bottom: 105px;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        line-height: 75px;
        bottom: 140px;
    }
}

.btn.btn-secondary {
  margin-left: -450px;
  padding: 14px 28px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16;
  font-family: 'Source Sans Pro', sans-serif;
  bottom: 90px;
  position: relative;
}

.btn.btn-secondary:hover {
  padding: 14px 28px;
  background-color: black;
  color: #E9105F;
  border: 2px solid black;
}

.btn.btn-secondary:active {
  background-color: white;
  color: black;
}
