body {
 background: url(https://imagebin.ca/v/3w1FLigVJHIx);
}


.form-container {

}

.CategoriesCont {
  color: white;
  font-size: 42px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
  margin-bottom: 100px;
}

.GenderSelection {
  color: white;
  font-size: 16px;
  text-align: left;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.ArtistExperience {
  color: white;
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;

}

.categoriesform-container {
  text-align: left;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 100px;
}

.nextbutton {
  margin-left: 450px;
  margin-right: 450px;
}


.btn.btn-secondary {
  padding: 14px 28px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.btn.btn-secondary:hover {
  padding: 14px 28px;
  background-color: black;
  color: #e812ab;
  border: 2px solid #e812ab;
}

.btn.btn-secondary:active {
  background-color: white;
  color: black;
}
