<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="tattooproject.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="tattooproject.js"></script>

<link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

<!--top area-->
<header>
    </div>
        <button type="button" class="signin-text btn btn-secondary">Sign In</button>
    </div>
        <div class="intro-text">
            <div class="intro-lead-in">Moving Canvas</div>
               <div class="intro-heading"><p2>The modern way to find a tattoo artist.<p2></div>
              <button type="button" class="btn btn-secondary">Find a tattoo artist</button>
               <button type="button" class="btn btn-secondary">I'm a tattoo artist </button>
             </div>
           </div>
       </div>
</header>

</body>
</html>
